@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-dm-sans);
  --font-mono: var(--font-geist-mono);

  /* Sidebar */
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);

  /* Charts */
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  /* Core UI */
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);

  --color-destructive: var(--destructive);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  /* Radii */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Homepage Colors */
  --color-pre-title-blue: var(--pre-title-blue);
  --color-pre-title-orange: var(--pre-title-orange);
  --color-pre-title-purple: var(--pre-title-purple);
  --color-description: var(--description-color);
  --color-card-yellow: var(--card-yellow);
  --color-card-skyblue: var(--card-skyblue);
  --color-card-purple: var(--card-purple);
  --color-card-red: var(--card-red);
  --color-card-blue: var(--card-blue);
  --color-card-text: var(--card-text);

  /* Gradient Colors */
  --color-gradient-1: var(--gradient-color-1);
  --color-gradient-2: var(--gradient-color-2);
  --color-gradient-3: var(--gradient-color-3);
  --color-gradient-4: var(--gradient-color-4);
  --color-gradient-5: var(--gradient-color-5);
}

:root {
  /* Base */
  --background: #ffffff;
  --foreground: #000000;

  /* Card & Popover */
  --card: #ffffff;
  --card-foreground: #000000;
  --popover: #ffffff;
  --popover-foreground: #000000;

  /* Primary Brand */
  --primary: #6e40f2;
  --primary-foreground: #ffffff;

  /* Secondary */
  --secondary: #4076f6;
  --secondary-foreground: #ffffff;

  /* Muted */
  --muted: #f2f2f2;
  --muted-foreground: #757575;

  /* Accent */
  --accent: #04ffff;
  --accent-foreground: #232428;

  /* Destructive */
  --destructive: #fb5441;

  /* Borders & Inputs */
  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: #6e40f2;

  /* Charts */
  --chart-1: #ffde00;
  --chart-2: #ff7005;
  --chart-3: #fb5441;
  --chart-4: #e82ca2;
  --chart-5: #6e40f2;

  /* Sidebar */
  --sidebar: #ffffff;
  --sidebar-foreground: #232428;
  --sidebar-primary: #6e40f2;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #e82ca2;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #e5e5e5;
  --sidebar-ring: #6e40f2;

  /* Gradient Colors*/
  --gradient-color-1: #88efff;
  --gradient-color-2: #7c96ff;
  --gradient-color-3: #e978ff;
  --gradient-color-4: #ff9182;
  --gradient-color-5: #ffd16e;

  /* Homepage text*/
  --pre-title-blue: #25b0fb;
  --pre-title-orange: #ff7735;
  --pre-title-purple: #be41dc;
  --description-color: #777777;
  --card-text: #00000099;

  /* Homepage colors */
  --card-yellow: #ffe2a5;
  --card-skyblue: #a5f1ff;
  --card-purple: #ffa5f9;
  --card-red: #ffbaa5;
  --card-blue: #a5b7ff;
}

@layer base {
  .bg-gradient-button {
    background: linear-gradient(
      110deg,
      var(--gradient-color-1) 0%,
      var(--gradient-color-2) 15%,
      var(--gradient-color-3) 55%,
      var(--gradient-color-4) 80%,
      var(--gradient-color-5) 100%
    );
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
